name: Build

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build & Test (Maven)
        run: mvn -B clean verify

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          projectBaseDir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Package (Jar)
        run: mvn -B package -DskipTests
        
        # Ce bloc sert à sauvegarder et télécharger les résultats de tes tests Maven depuis GitHub Actions, même quand ton build échoue.

        # Ce bloc de code sert à récupérer (télécharger) les rapports de tests Maven dans GitHub Actions

      - name: Upload surefire reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports/**

      - name: Upload artifact (jar)
        uses: actions/upload-artifact@v4
        with:
          name: auth-jar
          path: target/*.jar
