name: Build

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # important pour Sonar (blame/PR)

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Cache Sonar packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      # Build + tests
      - name: Build & Test (Maven)
        run: mvn -B clean verify

      # SonarCloud
      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:5.5.0.6356:sonar \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.projectKey=Lee-Rudy_video_moustass_DevSecOps \
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}

      # Package jar (optionnel, mais tu voulais garder l’artefact)
      - name: Package (Jar)
        run: mvn -B package -DskipTests

      # Rapports de tests (même si ça échoue)
      - name: Upload surefire reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports/**

      # Jar (seulement si tout est OK)
      - name: Upload artifact (jar)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: auth-jar
          path: target/*.jar
